<li>
  <%= gravatar_for user, size: 52 %>
  <div style="margin-top: 8px;">
    <%= link_to user.name, user %>
    <div class="pull-right">
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "Are you sure?" },
                                    class: "btn btn-danger"%>
    </div>
  </div>
  <% end %>
</li>