<% provide(:title, 'Registration') %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="center">Sign up</h1>
    <%= form_for @user, html: { 'data-parsley-validate' => '' } do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "long btn btn-large btn-primary" %>
    <% end %>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde praesentium nesciunt omnis, porro culpa. Facilis repellat accusamus adipisci quae qui sapiente voluptate ipsam voluptatem natus in atque asperiores, tenetur minima maiores necessitatibus eum est obcaecati quibusdam esse doloribus sequi excepturi aut quod et! Recusandae voluptas velit necessitatibus, nemo quasi voluptatem eum aliquid inventore quidem nobis, repellendus quibusdam, a cum error rerum! Enim amet eligendi, placeat voluptas voluptatem ut, soluta nulla alias quis. Quia totam nemo assumenda libero dolores placeat, nihil inventore deleniti, repudiandae cumque incidunt provident sint qui ex aliquam, dignissimos odio hic, minus architecto adipisci quae vero? Nemo, provident.</p>  
  </div>
</div>
