<div class="center jumbotron">
  <h1>Welcome to my Activity Page</h1>

  <h2>
    This page was created for the sole purpose of displaying all my work while learning Ruby on Rails.
  </h2>
  <div >
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  <div style="font-size: 11; margin-top: 10px;" class="center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore maxime, tenetur eos nostrum amet maiores harum iusto quae dolores sed asperiores cupiditate, cumque temporibus. Tempore voluptate obcaecati nulla, minus sit.
  </div>
</div>