<footer class="footer">
  <small>
    <a href="https://github.com/canalesb93/ActivityPage">Activity Page</a>
    by Ricardo Canales
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://reddit.com/">Nothing</a></li>
    </ul>
  </nav>
</footer>